* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Hero Section */

.hero-section {
  color: #fff;
  background-image: url(images/pega-crm-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  max-height: 100%;
}

.hero-part {
  padding: 100px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.hero-part-left, .hero-part-right {
    flex-basis: 50%;
}

.hero-part-left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.left-title {
    font-size: 3em;
    color: rgb(185, 253, 255);
}

.left-subtitle {
    font-size: 1.6em;
}

.left-small-text{
    font-size: 1.2em;
}

.left-menu-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 10px;
}

.menu-btns-CTA {
    width: 150px;
    padding: 5px 10px;
    text-align: left;
    border: none;
    background-color:transparent;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.menu-btns-CTA:hover{
    border-bottom: 1px solid cyan;
    transition: border-bottom 0.3s ease-in-out;
}

.left-social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.hero-part-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
}

.right-short-text {
    font-size: 1.1em;
    padding: 20px;
}

.right-short-text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
}

.bolded-words {
    font-weight: bold;
    color: cyan;
}

.right-CTA, 
.left-btn-archive{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(0, 126, 245);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.right-CTA:hover,
.left-btn-archive:hover{
    background-color: lightblue;
    color: navy;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Skills Container */

.skills-part{
    padding: 90px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.skills-part-left, .skills-part-right {
    flex-basis: 50%;
}

.skills-part-left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#skills-left-subtitle{
    font-size: 1.6em;
}

#skills-left-small-text{
    font-size: 1.2em;
}

.skills-part-right {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.right-skills:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.skills-text{
    text-align: justify;
    font-size: .9em;
}

/* Projects Container */

.project-part {
    padding: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.project-part-left, .project-part-right {
    flex-basis: 50%;
}

.project-part-left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#project-left-subtitle{
    font-size: 1.6em;
}

#project-left-small-text{
    font-size: 1.2em;
}

.project-part-right {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.right-project:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid cyan;
}

.skills-text,
.project-text{
    text-align: justify;
    font-size: .9em;
}

/* Table Project Container */

.table-project-container{
    padding: 60px;
    display: none;
    flex-direction: column;
}

.table-project-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.projects-back-text{
    font-size: 2em;
}

.projects-back-arrow{
    font-size: 2em;
    cursor: pointer;
}

.row-built{
    background-color: rgba(255, 255, 255, 0.1);
    color: cyan;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: .8em;
}

.link-tag {
  text-decoration: none;
  font-style: none;
  color: cyan;
  font-size: .9em;
}

td {
    height: 50px;
    padding: 5px 20px;
    border-bottom: 1px solid;
}

.table-project-tables {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

th {
    height: 40px;
    font-size: 1.2em;
    font-style: italic;
    text-align: left;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* RESPONSIVE DESIGN */
/* MOBILE */
@media (min-width:375px) and (max-width:767px) {
    .hero-part,
    .skills-part,
    .project-part,
    .table-project-container {
        padding: 20px;
        column-gap: 10px;
        font-size: .5em;
      }

      .skills-icon,
      .project-icon{
        width: 20px;
      }

      .social-icons-ico svg{
        width: 20px;
      }

      .left-social-icons {
        column-gap: 15px;
    }

    .hero-part-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .right-short-text {
        padding: 10px;
    }

    .table-project-container{
        padding: 20px;
        font-size: .6em;
    }

    .table-project-tables{
        flex-wrap: wrap;
    }

    .hero-section {
 background-size:cover;
  background-repeat:repeat-y;
  height: 200vh;
  max-height: 100%;
    }
}

/* TABLET */
@media (min-width:768px) and (max-width:991px) {
    .hero-part,
    .skills-part,
    .project-part,
    .table-project-container {
        padding: 40px;
        column-gap: 10px;
        font-size: .9em;
      }

      .skills-icon,
      .project-icon{
        width: 20px;
      }

      .social-icons-ico svg{
        width: 20px;
      }

      .left-social-icons {
        column-gap: 15px;
    }

    .hero-part-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .right-short-text {
        padding: 10px;
    }

    .table-project-container{
        padding: 50px;
        font-size: 1em;
    }

    .table-project-tables{
        flex-wrap: wrap;
    }

    .hero-section {
 background-size:cover;
  background-repeat:repeat-y;
  height: 220vh;
  max-height: 100%;
    }
}

/* LAPTOP */
@media (min-width:992px) and (max-width:1199px) {
    .hero-part,
    .skills-part,
    .project-part,
    .table-project-container {
        padding: 50px;
        column-gap: 10px;
        font-size: 1.2em;
      }

      .skills-icon,
      .project-icon{
        width: 40px;
      }

      .social-icons-ico svg{
        width: 20px;
      }

      .left-social-icons {
        column-gap: 15px;
    }

    .right-short-text {
        padding: 20px;
    }

    .table-project-container{
        padding: 20px;
        font-size: .8em;
    }
}

/* DESKTOP AND ABOVE */
@media (min-width:1200px) {
    .hero-part,
    .skills-part,
    .project-part {
        padding: 50px;
        column-gap: 10px;
        font-size: 1.2em;
      }

      .skills-icon,
      .project-icon{
        width: 40px;
      }

      .social-icons-ico svg{
        width: 20px;
      }

      .left-social-icons {
        column-gap: 15px;
    }

    .right-short-text {
        padding: 20px;
    }

    .table-project-container{
        padding: 50px;
    }
}